# 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [1]:
import os
import pandas as pd
import numpy as np

In [11]:
def addition_of_numbers(num1,num2):
    sum1=int(num1)+int(num2)
    print('Sum of two variables:',sum1)
num1=input('Enter variable 1:')
num2=input('Enter variable 2:')
addition_of_numbers(num1,num2)

Enter variable 1:6
Enter variable 2:5
Sum of two variables: 11

# 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [12]:
integer1=5
string1='add'
integer_plus_string=integer1+string1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [16]:
a='Data Science'
y='s'
print('s' in a)

False

# 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [38]:
def list1(x):
    if x[0]==x[-1]:
        print('True')
    else:
        print('False')
x=[1,2,3,4,5,6,1]
list1(x)

True

# 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [41]:
l1=[10,20,33,46,55]
div_5=[a for a in l1 if a%5==0]
print(div_5)

[10, 20, 55]

# 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [48]:
def calculation(x1,x2):
    add1=int(x1)+int(x2)
    sub1=int(x1)-int(x2)
    return add1,sub1
x1=input('Enter variable1:')
x2=input('Enter variable2:')
calculation(x1,x2)

Enter variable1:5
Enter variable2:6

(11, -1)

# 7.	Write a program to demonstrate the following Syntax error
a.	SyntaxError: non-default argument follows default argument

In [49]:
def error_demo(a1='Hi all',a2):
    return a1+a2

SyntaxError: non-default argument follows default argument (Temp/ipykernel_16992/654342713.py, line 1)

# 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

In [54]:
def recursion(z):
    if z==0:
        return z
    else:
        return(z+recursion(z-1))
z=10
print(recursion(z))

55

# 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [67]:
l2=[12, 11, 53, 22, 21, 77, 87, 88, 98]
filt=list(map(lambda x:x*x,filter(lambda x:x%2!=0,l2)))
print('After filter',filt)

After filter [121, 2809, 441, 5929, 7569]

# 10.Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [90]:
l3=[1,2,3,4,5]
list3 = [i*i for i in l3]
print(list3)

[1, 4, 9, 16, 25]