# 1.	Create a program that asks the user to enter their name and their age. Print out a message that tells them the year that they will turn 100 years old

In [27]:
Name=input('Enter your name:')
Age=input('Enter your Age:')
Currentyear =input('Enter the current year')
Currentyear=int(Currentyear)
age=int(Age)
if age< 100:
    add=100-age
    Year_at100=Currentyear+add
    print('The year you will turn 100 is: ',Year_at100)

Enter your name:Godwin
Enter your Age:25
Enter the current year2022
The year you will turn 100 is:  2097

# 3.	How to create a dataframe from list?

In [9]:
import os
import numpy as np
import pandas as pd

In [13]:
list1=[[3,30],[4,40],[5,50],[6,60]]
pd.DataFrame(list1,columns=['Index number','Age'])

   Index number  Age
0             3   30
1             4   40
2             5   50
3             6   60

# 5.	What is the difference between list and tuples in Python?

In [14]:
list1=[1,2,3,4,5,6,6,6,6]
tuple1=(1,1,1,2,2,2,3,3,4)
print(list1)
print(tuple1)

[1, 2, 3, 4, 5, 6, 6, 6, 6]
(1, 1, 1, 2, 2, 2, 3, 3, 4)

In [18]:
tuple1[3]

2

In [17]:
list1[2]

3

In [20]:
list1[2]=8
print(list1)

[1, 2, 8, 4, 5, 6, 6, 6, 6]

In [21]:
tuple1[3]=8

TypeError: 'tuple' object does not support item assignment

# 8.	What is a map() function in Python? Give an example

In [25]:
list2=[3,6,9,12,15,18,21,24,27,30]
evennum_list=list(map(lambda x:x%2==0,list2))
print(evennum_list)

[False, True, False, True, False, True, False, True, False, True]

In [26]:
list2=[3,6,9,12,15,18,21,24,27,30]
squarenum_list=list(map(lambda x:x**2,list2))
print(squarenum_list)

[9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

# 9.What is pass in Python?

In [ ]:
list3=[3,6,9,12,15,18]
for i in list3:
    pass#the logic can be added at alater stage

# 2.	What is pandas groupby? Demonstrate with your own example

In [87]:
df = pd.DataFrame({'Footballer': ['Ronaldo', 'Raul',
                              'Neymar', 'Pele'],'Domestic_League':['English','Spanish','French','Italian'],'id':[1,2,3,4],
                   'Goals': [807, 405, 462, 512],'maxspeed':['39.7','37.6','37.2','35.8'],'Titles':[38,25,18,24],'Nationality':['Portugal','Portugal','Brazil','Brazil'],'Rating':[8.8,7.8,8.1,8.7]})
df

  Footballer Domestic_League  id  Goals maxspeed  Titles Nationality  Rating
0    Ronaldo         English   1    807     39.7      38    Portugal     8.8
1       Raul         Spanish   2    405     37.6      25    Portugal     7.8
2     Neymar          French   3    462     37.2      18      Brazil     8.1
3       Pele         Italian   4    512     35.8      24      Brazil     8.7

In [43]:
df.sort_values(by='Goals',ascending='False')

  Footballer  Goals maxspeed  Titles Nationality  Rating
1       Raul    405     37.6      25    Portugal     7.8
2     Neymar    462     37.2      18      Brazil     8.1
3       Pele    512     35.8      24      Brazil     8.7
0    Ronaldo    807     39.7      38    Portugal     8.8

In [46]:
df.groupby(['Rating'])['Goals'].sum()

Rating
7.8    405
8.1    462
8.7    512
8.8    807
Name: Goals, dtype: int64

In [51]:
df.groupby(['Nationality'])['Goals'].mean()

Nationality
Brazil      487.0
Portugal    606.0
Name: Goals, dtype: float64

In [62]:
import warnings
warnings.filterwarnings("ignore")

In [63]:
df.groupby(['Goals','Footballer'])['maxspeed','Titles','Rating'].mean().reset_index()

   Goals Footballer  Titles  Rating
0    405       Raul    25.0     7.8
1    462     Neymar    18.0     8.1
2    512       Pele    24.0     8.7
3    807    Ronaldo    38.0     8.8

# 4.	What are the ways to combine the dataframe in pandas. Give an example for each

In [89]:
df1 = pd.DataFrame({'Footballer': ['Messi', 'Aguero',
                              'Benzema', 'Pogba'],'Domestic_League':['Spanish','English','Spanish','English'],'id':[1,2,3,4],
                   'Goals': [759, 488, 525, 380],'maxspeed':['38.7','37.8','38.8','35.8'],'Titles':[32,17,29,15],'Nationality':['Argentina','Argentina','France','France'],'Rating':[8.6,7.9,8.1,8.0]})
df1

  Footballer Domestic_League  id  Goals maxspeed  Titles Nationality  Rating
0      Messi         Spanish   1    759     38.7      32   Argentina     8.6
1     Aguero         English   2    488     37.8      17   Argentina     7.9
2    Benzema         Spanish   3    525     38.8      29      France     8.1
3      Pogba         English   4    380     35.8      15      France     8.0

In [74]:
df1.mean()

Goals     538.00
Titles     23.25
Rating      8.15
dtype: float64

In [90]:
pd.merge(df1,df,on='id' )

,Footballer_x,Domestic_League_x,id,Goals_x,maxspeed_x,Titles_x,Nationality_x,Rating_x,Footballer_y,Domestic_League_y,Goals_y,maxspeed_y,Titles_y,Nationality_y,Rating_y
0,Messi,Spanish,1,759,38.7,32,Argentina,8.6,Ronaldo,English,807,39.7,38,Portugal,8.8
1,Aguero,English,2,488,37.8,17,Argentina,7.9,Raul,Spanish,405,37.6,25,Portugal,7.8
2,Benzema,Spanish,3,525,38.8,29,France,8.1,Neymar,French,462,37.2,18,Brazil,8.1
3,Pogba,English,4,380,35.8,15,France,8.0,Pele,Italian,512,35.8,24,Brazil,8.7

In [98]:
df3=pd.concat([df,df1])
df3.reset_index()

,index,Footballer,Domestic_League,id,Goals,maxspeed,Titles,Nationality,Rating
0,0,Ronaldo,English,1,807,39.7,38,Portugal,8.8
1,1,Raul,Spanish,2,405,37.6,25,Portugal,7.8
2,2,Neymar,French,3,462,37.2,18,Brazil,8.1
3,3,Pele,Italian,4,512,35.8,24,Brazil,8.7
4,0,Messi,Spanish,1,759,38.7,32,Argentina,8.6
5,1,Aguero,English,2,488,37.8,17,Argentina,7.9
6,2,Benzema,Spanish,3,525,38.8,29,France,8.1
7,3,Pogba,English,4,380,35.8,15,France,8.0

# 6. Find out the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [93]:
array1=np.array([1,5,3,100,4,48])
type(array1)

numpy.ndarray

In [101]:
print(np.mean(array1,axis=0))
print(np.median(array1,axis=0))
print(np.std(array1,axis=0))

26.833333333333332
4.5
36.59424666377065

# 7.	How will you remove duplicate elements from a list?

In [114]:
list2=[1,2,1,2,3,3,4]
list3=[]
[list3.append(x) for x in list2 if x not in list3]
print(list3)

[1, 2, 3, 4]

# 10.	What is vstack() in numpy? Give an example

In [119]:
import numpy as np

In [126]:
np.vstack?

In [132]:
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
c=np.vstack((a,b))
print('Output vertically stacked array\n',c)

Output vertically stacked array
 [[1 2 3 4]
 [5 6 7 8]]